:host {
  display: block;
}

.empty {
  padding: 45px;
  text-align: center;
  color: #94a5b6;
}
.empty ly-icon {
  width: 36px;
  height: 36px;
  margin-bottom: 10px;
}
.empty h3 {
  font-size: 16px;
}
.empty p {
  font-size: 14px;
}
